@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v14-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v14-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v14-latin-500.woff2") format("woff2"), url("../fonts/rubik-v14-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v14-latin-900.woff2") format("woff2"), url("../fonts/rubik-v14-latin-900.woff") format("woff"); 
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #F7CD75;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 745px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0 10px 30px -15px #000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-left {
  width: 280px;
  height: 415px;
  background-color: #F2F2F2;
  overflow: scroll;
}

.section-right {
  flex-grow: 1;
  height: 415px;
  background-color: #FFF;
  overflow: scroll;
}

.container-left {
  width: 205px;
  margin-left: auto;
  margin-right: auto;
}

.my-wallets {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-wallets-header {
  text-transform: capitalize;
  margin: 0;
}

.wallet-list {
  padding: 0;
}

.wallet-item {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 8px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 15px;
}

.active {
  border: 1px solid #7D8AC3;
}

.wallet-item:hover {
  border: 1px solid #7D8AC3;
}

.wallet-link{
  color: #767575;
}

.wallet-number {
  margin-bottom: 0;
}

.wallet-valid {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
}

.container-right {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.current-balance {
  margin: 0;
  text-transform: capitalize;
  font-size: 20px;
}

.balance-amount {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.operation-list {
  /* padding: 0; */
  margin-top: 40px;
}

.operation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

.minus::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40px, -50%);
  content: "";
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.plus::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40px, -50%);
  content: "";
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.operation-header {
  font-size: 18px;
  margin: 0;
}

.operation-text {
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  color: #C0C0C0;
}

.operation-price {
  font-size: 16px;
  font-weight: bold;
}

.plus {
  color: #80C952;
}

.minus {
  color: #8595C5;
}

